body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #771414, #000000);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: #fffcfc;
}

header {
    background-image: linear-gradient(to bottom, #771414, #000000);
    color: rgb(255, 255, 255);
    min-height: 80px;
    text-align: center;
    padding-top: 25px;
    border-radius: 10px;
    font-size: 12px;
    overflow: hidden;
}

main {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas de igual largura */
    gap: 20px; /* Espaço entre as fanarts */
}

.fanart {
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
}

.fanart img {
    width: 40%; /* Ajusta a imagem para ocupar toda a largura da coluna */
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.fanart img:hover {
    filter: brightness(80%);
    transform: scale(1.1);
}

.fanart h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.2em;
}

.center {
    text-align: center;
}

.couple {
    text-align: center;
}

.voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 10px;
    margin: 0;
    margin: 0 auto;        /* Centraliza horizontalmente */
    text-align: center;    /* Centraliza o conteúdo dentro do bloco */
    width: fit-content;    /* Ajusta a largura do bloco ao conteúdo */
}

.voltar:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}